* {
    margin: 0;
    padding: 0;
    font-family: Arsenal SC;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.Game {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(44 20 86);
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 50px;
    opacity: 0.9;
    color: white;
}

#mainhomepage {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(44 20 86); */
    width: 100%;
    height: 100%;
}

#panel {
    overflow: hidden;
    width: 70%;
    height: 70%;
    background-color: #ffffffc2;
    border-radius: 10px;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 18px 0px white;
}

#ptop {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: rgba(44, 20, 86, 0.879);
}

.elem {
    display: flex;
    align-items: center;
    gap: 0px;
}

.box {
    padding: 6px 6px;
    margin: 5px 5px;
    color: rgb(53 85 53);
    background-color: #ffffffc2;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

.olist {
    display: inline-block;
    text-align: start;
    font-size: larger;
    font-family: cursive;
}

.hitbox {
    padding: 3px 26px;
    margin: 7px 5px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 42px;
    font-weight: 800;
    font-size: 23px;
}

.scorebox {
    padding: 2px 6px;
    margin: 5px 5px;
    color: rgb(255, 255, 255);
    background-color: #1ea30f;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

#pbtm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    width: 100%;
    padding: 20px;
    gap: 10px;
    height: calc(100% - 100px);
}

.bubble {
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(44 20 86);
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(23, 11, 44);
}

#container {
    background-color: rgba(44, 20, 86, 0.879);
    color: white;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 40px;
    margin-bottom: 17px;
    height: 54vh;
    line-height: 2;
    margin-top: 11vh;
    font-size: large;
}

#blink_text {
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    font-size: xx-large;
    line-height: 2;
}

@keyframes blink {
    0% {
        color: rgb(255, 0, 0);
    }

    50% {
        color: white;
    }

    100% {
        color: rgb(246, 255, 0);
    }
}

li {
    justify-content: center;
}

@keyframes shake-horizontal {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateX(8px);
    }

    80% {
        transform: translateX(6px);
    }

    90% {
        transform: translateX(-6px);
    }
}

.shake-horizontal {
    animation: shake-horizontal 0.6s cubic-bezier(.36, .07, .19, .97) both;
    backface-visibility: hidden;
    perspective: 1000px;
}

#navbar {
    background: linear-gradient(#000000d4, #07070761);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    z-index: 99;
    width: 100%;
}

.btn {
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }

    #blink_text {
        font-size: x-large;
    }

    .olist {
        font-size: small;
    }

    .hitbox {
        padding: 5px 10px;
        margin: 7px 7px;
        color: rgb(255, 255, 255);
        background-color: #ff0000;
        border-radius: 42px;
        font-weight: 800;
        font-size: 22px;
    }

    .bubble {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 516px) {
    #container {
        width: 80%;
    }

    #blink_text {
        font-size: large;
    }

    .olist {
        font-size: small;
    }

    .hitbox {
        padding: 5px 10px;
        margin: 7px 7px;
        color: rgb(255, 255, 255);
        background-color: #ff0000;
        border-radius: 42px;
        font-weight: 800;
        font-size: 20px;
    }

    .bubble {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 300px) {
    #container {
        width: 90%;
    }

    .bubble {
        width: 25px;
        height: 25px;
    }
}